body {
	Background-color: green;
}

  .image1 {
    width: 300px;
    border-radius: 150px;
    position: relative;
}


  .image2 {
	width: 100px;
	border radius: 0px;
		position: relative;
	  
}



#vd1, #vd2, #vd2, #vd3, #vd4, #vd5, #vd6, #vd7 {
    border: 4px solid black;
    height: 350px;
    width: 200px;
    margin: 0px;
    position: relative;
    text-align: center;
    float: left;
    display: block;
    text-decoration: none;
    border-radius: 5px;
   }
